@font-face {
  font-family: "futura-book";
  src: url("assets/fonts/FuturaEF-Book.otf") format("otf");
}

@font-face {
  font-family: "futura-bold";
  src: url("assets/fonts/FuturaEF-Bold.otf") format("otf");
}

@font-face {
  font-family: "futura-light";
  src: url("assets/fonts/FuturaEF-Light.otf") format("otf");
}
