.header__banner {
  width: 100%;
  height: 25vh;
  overflow: hidden;
  background-image: url("../img/image-banner.png");
  background-size: cover;
  background-position: center;

  img {
    image-orientation: center;
  }
}

.header__elements {
  width: 100%;
  padding: 0 40px;
  display: flex;
  border-bottom: 0.5px solid #eaeaea;
  padding: 15px 80px;
  align-items: center;
  justify-content: space-between;
}

.header__image {
  width: 120px;
  height: 115px;
  border-radius: 50%;
  margin: 10px;
}
.header__profile {
  display: inline-flex;
  align-items: center;
}

.header__profile h4 {
  font-family: futura-bold;
}

@media only screen and (max-width: 768px) {
  .header__elements {
    border-bottom: 0px;
  }
}

@media only screen and (max-width: 578px) {
  .header__elements {
    padding: 0 20px;
    padding-top: 20px;
  }
  .header__profile {
    margin-left: auto;
    margin-right: auto;
  }
}
